---
import Layout from "@layouts/Layout.astro";
import PageHeader from "@components/profile/PageHeader.astro";
import ProfileContainer from "@containers/ProfileContainer.astro";
---

<Layout title="JobBoard | References">
    <div class="max-w-[40rem] px-4 py-10 lg:pt-20 sm:px-6 lg:px-8 lg:py-14 mx-auto mt-10 dark:text-white">
        <PageHeader title="References" subtitle="This is the list of people the employers contact for background check" href="/Profile"/>
        <div class="mt-10">
            <div class="mb-3">
                <button class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600" data-hs-overlay="#addReferencesModal">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>

                    <span>Add a reference</span>
                </button>
            </div>
            <!-- Card Section -->
            <div class="max-w-5xl  py-6  lg:py-8 mx-auto">
                <!-- Grid -->
                <div class="grid sm:grid-cols-2 lg:grid-cols-2 gap-3 sm:gap-6">
                <!-- Card -->
                <div class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition dark:bg-[#1E293B] dark:border-gray-700 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                    <div class="p-4 md:p-5">
                    <div class="flex">
                        <svg class="mt-1 flex-shrink-0 w-5 h-5 text-gray-800 dark:text-gray-200" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
            
                        <div class="grow ms-5">
                        <h3 class="group-hover:text-blue-600 font-semibold text-gray-800 dark:group-hover:text-gray-400 dark:text-gray-200">
                            Sithuliso Mondli Zulu
                        </h3>
                        <p class="text-sm text-gray-500">
                           <a href="cell:0812550538">0812550538</a>
                        </p>
                        <p class="text-sm text-gray-500">
                            <span class="text-blue-600 font-medium dark:text-blue-500"> <a href="mailto:okasithuli@outlook.com">okasithuli@outlook.com</a></span>
                        </p>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- End Card -->

                </div>
                <!-- End Grid -->
            </div>
            <!-- End Card Section -->
        </div>
    </div>
    <ProfileContainer />
</Layout>
