---
import { SITE_NAME } from 'src/constants'
import Layout from '../layouts/Layout.astro'
import Input from '@components/ui/Input.astro'
---

<Layout title="About us | Job Board">
    <div class="max-w-[80rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto mt-10 ">
        <!-- Gradients -->
        <div aria-hidden="true" class="flex absolute -top-48 start-0 -z-[1]">
            <div class="bg-purple-200 opacity-30 blur-3xl w-[1036px] h-[600px] dark:bg-purple-900 dark:opacity-20"></div>
            <div class="bg-slate-200 opacity-90 blur-3xl w-[577px] h-[300px] transform translate-y-32 dark:bg-slate-800/60"></div>
        </div>
        <!-- End Gradients -->

        <div class="flex-1 flex flex-col justify-center items-center mb-5 dark:text-white mt-20">
            <h2 class="font-bold text-3xl dark:text-white md:text-5xl">
                Your Gateway to Career Opportunities
            </h2>

            <p class="text-base text-gray-900 md:max-w-[60rem] mt-10 md:text-center font-regular dark:text-white">
                Welcome to <span class="transition-all ease-in-out duration-300 text-rose-700 font-bold animate-pulse text-2xl">.</span><span class="text-black dark:text-white">{SITE_NAME}</span><span class="text-sky-800 ">Board</span>, where career aspirations meet their perfect match. We understand the challenges job seekers face in navigating the vast sea of employment opportunities, and our mission is to simplify this process, connecting talented individuals with their dream jobs seamlessly.
            </p>
        </div>

        <section class="flex items-center py-20font-poppins mt-3 md:mt-16">
            <div class="justify-center flex-1 max-w-6xl px-4 py-4 mx-auto lg:py-6 md:px-6">
                <div class="flex flex-wrap items-center">
                    <div class="w-full px-4 mb-10 xl:w-1/2 lg:mb-8">
                        <div class="flex flex-wrap">
                            <div class="w-full px-4 md:w-1/2">
                                <img src="https://i.postimg.cc/YCJW7jv8/pexels-fauxels-3184357.jpg" alt=""
                                    class="object-cover w-full mb-6 rounded-lg h-80">
                                <img src="https://i.postimg.cc/j5L5bX2d/pexels-andrea-piacquadio-3757946.jpg" alt=""
                                    class="object-cover w-full rounded-lg h-80">
                            </div>
                            <div class="w-full px-4 md:w-1/2 xl:mt-11">
                                <img src="https://i.postimg.cc/sXJQ5cw0/pexels-pixabay-256455-1.jpg" alt=""
                                    class="object-cover w-full mb-6 rounded-lg h-80">
                                <img src="https://i.postimg.cc/vHTg6593/aqq.jpg" alt=""
                                    class="object-cover w-full rounded-lg h-80">
                            </div>
                        </div>
                    </div>
                    <div class="w-full px-4 mb-10 xl:w-1/2 lg:mb-8 md:mt-5">
                        <span class="text-sm font-semibold text-blue-500 dark:text-blue-400">What Sets Us Apart:</span>
                        <h2 class="mt-2 mb-4 text-2xl font-bold text-gray-700 dark:text-gray-300 hidden">
                            We are providing a better facility
                        </h2>
                        <p class="mb-4 text-base leading-7 text-gray-500 dark:text-gray-400 hidden">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam
                        </p>
                        <ul class="mb-10 mt-5">
                            <li class="flex items-center mb-4 text-base text-gray-600 dark:text-gray-400">
                                <div class="flex flex-row">
                                    <div>
                                        <span class="mr-3 text-blue-500 dark:text-blue-400 ">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="w-6 h-6 bi bi-1-circle-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z" />
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="flex flex-col ml-2 mb-2">
                                        <div class="font-bold text-lg -mt-1 mb-1">
                                            Aggregated Job Listings:
                                        </div>
                                        <p >
                                            We understand that time is of the essence when it comes to job hunting. That's why we've curated a vast selection of job listings from top-notch platforms, all in one place. Save time and energy by exploring opportunities seamlessly on JobBoard.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="flex items-center mb-4 text-base text-gray-600 dark:text-gray-400">
                                <div class="flex flex-row">
                                    <div>
                                        <span class="mr-3 text-blue-500 dark:text-blue-400">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="w-6 h-6 bi bi-2-circle-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM6.646 6.24c0-.691.493-1.306 1.336-1.306.756 0 1.313.492 1.313 1.236 0 .697-.469 1.23-.902 1.705l-2.971 3.293V12h5.344v-1.107H7.268v-.077l1.974-2.22.096-.107c.688-.763 1.287-1.428 1.287-2.43 0-1.266-1.031-2.215-2.613-2.215-1.758 0-2.637 1.19-2.637 2.402v.065h1.271v-.07Z" />
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="flex flex-col ml-2 mb-2">
                                        <div class="font-bold text-lg -mt-1 mb-1">
                                            User-Friendly Interface:
                                        </div>
                                        <p>
                                            Navigating through the job search process should be intuitive and user-friendly. Our website boasts a sleek and easy-to-use interface, ensuring a hassle-free experience for both job seekers and employers.  
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="flex items-center mb-4 text-base text-gray-600 dark:text-gray-400">
                                <div class="flex flex-row">
                                    <div>
                                        <span class="mr-3 text-blue-500 dark:text-blue-400">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="w-6 h-6 bi bi-3-circle-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-8.082.414c.92 0 1.535.54 1.541 1.318.012.791-.615 1.36-1.588 1.354-.861-.006-1.482-.469-1.54-1.066H5.104c.047 1.177 1.05 2.144 2.754 2.144 1.653 0 2.954-.937 2.93-2.396-.023-1.278-1.031-1.846-1.734-1.916v-.07c.597-.1 1.505-.739 1.482-1.876-.03-1.177-1.043-2.074-2.637-2.062-1.675.006-2.59.984-2.625 2.12h1.248c.036-.556.557-1.054 1.348-1.054.785 0 1.348.486 1.348 1.195.006.715-.563 1.237-1.342 1.237h-.838v1.072h.879Z" />
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="flex flex-col ml-2 mb-2">
                                        <div class="font-bold text-lg -mt-1 mb-1">
                                            Comprehensive Job Search Filters:
                                        </div>
                                        <p>
                                            Tailor your job search to your unique preferences with our advanced filtering options. Whether you're seeking a specific industry, location, or job type, we've got you covered.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="flex items-center mb-4 text-base text-gray-600 dark:text-gray-400">
                                <div class="flex flex-row">
                                    <div>
                                        <span class="mr-3 text-blue-500 dark:text-blue-400 ">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="w-6 h-6 bi bi-4-circle-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM7.519 5.057c-.886 1.418-1.772 2.838-2.542 4.265v1.12H8.85V12h1.26v-1.559h1.007V9.334H10.11V4.002H8.176c-.218.352-.438.703-.657 1.055ZM6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z" />
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="flex flex-col ml-2 mb-2">
                                        <div class="font-bold text-lg -mt-1 mb-1">
                                            Real-time Updates:
                                        </div>
                                        <p>
                                            Stay ahead of the competition with our real-time job updates. We continuously refresh our listings to ensure you never miss out on the latest opportunities.
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

                <!-- Features -->
        <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-3 lg:py-14 mx-auto">
            <!-- Grid -->
            <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
            <div>
                <img class="rounded-xl hover:shadow-xl  hover:translate-x-2 transition-all ease-in-out duration-300" src="https://images.unsplash.com/photo-1648737963503-1a26da876aca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=900&h=900&q=80" alt="Image Description">
            </div>
            <!-- End Col -->
        
            <div class="mt-5 sm:mt-10 lg:mt-0">
                <div class="space-y-6 sm:space-y-8">
                <!-- Title -->
                <div class="space-y-2 md:space-y-4">
                    <h2 class="font-bold text-3xl lg:text-4xl text-gray-800 dark:text-gray-200">
                        Our Vision:
                    </h2>
                    <p class="text-gray-500">
                        Empowering individuals to build fulfilling careers is at the heart of what we do. We envision a future where the job search process is not just efficient but also inspiring. By expanding our platform to include more leading job portals, we aim to become the ultimate hub for career exploration, providing unparalleled access to a world of possibilities.
                    </p>
                </div>
                <!-- End Title -->
        
                <!-- List -->
                <ul role="list" class="space-y-2 sm:space-y-4">
                    <li class="flex space-x-3">
                    <span class="mt-0.5 h-5 w-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                        <svg class="flex-shrink-0 h-3.5 w-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    </span>
        
                    <span class="text-sm sm:text-base text-gray-500">
                        <span class="font-bold">Easy & fast</span> designing
                    </span>
                    </li>
        
                    <li class="flex space-x-3">
                    <span class="mt-0.5 h-5 w-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                        <svg class="flex-shrink-0 h-3.5 w-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    </span>
        
                    <span class="text-sm sm:text-base text-gray-500">
                        Powerful <span class="font-bold">features</span>
                    </span>
                    </li>
        
                    <li class="flex space-x-3">
                    <span class="mt-0.5 h-5 w-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                        <svg class="flex-shrink-0 h-3.5 w-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    </span>
        
                    <span class="text-sm sm:text-base text-gray-500">
                        User Experience Design
                    </span>
                    </li>
                </ul>
                <!-- End List -->
                </div>
            </div>
            <!-- End Col -->
            </div>
            <!-- End Grid -->
        </div>
        <!-- End Features -->
        
        <!-- Features -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto animate">
    <!-- Grid -->
    <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">

      <div class="mt-5 sm:mt-10 lg:mt-0">
        <div class="space-y-6 sm:space-y-8">
          <!-- Title -->
          <div class="space-y-2 md:space-y-4">
            <h2 class="font-bold text-3xl lg:text-4xl text-gray-800 dark:text-gray-200">
                Join Us on Your Career Journey:
            </h2>
            <p class="text-gray-500">
                Whether you're a seasoned professional looking for your next big challenge or a recent graduate eager to kickstart your career, [Your Job Posting Website] is your gateway to success. Dive into a world of opportunities, connect with industry leaders, and take the next step towards a brighter future.
          </div>
          <!-- End Title -->
  
          <!-- List -->
          <ul role="list" class="space-y-2 sm:space-y-4">
            <li class="flex space-x-3">
              <span class="mt-0.5 h-5 w-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                <svg class="flex-shrink-0 h-3.5 w-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
              </span>
  
              <span class="text-sm sm:text-base text-gray-500">
                <span class="font-bold">Easy & fast</span> designing
              </span>
            </li>
  
            <li class="flex space-x-3">
              <span class="mt-0.5 h-5 w-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                <svg class="flex-shrink-0 h-3.5 w-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
              </span>
  
              <span class="text-sm sm:text-base text-gray-500">
                Powerful <span class="font-bold">features</span>
              </span>
            </li>
  
            <li class="flex space-x-3">
              <span class="mt-0.5 h-5 w-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600 dark:bg-blue-800/30 dark:text-blue-500">
                <svg class="flex-shrink-0 h-3.5 w-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
              </span>
  
              <span class="text-sm sm:text-base text-gray-500">
                User Experience Design
              </span>
            </li>
          </ul>
          <!-- End List -->
        </div>
      </div>
      <!-- End Col -->

      <div>
        <img class="rounded-xl hover:shadow-xl  hover:-translate-x-2 transition-all ease-in-out duration-300 transform-gpu group-hover:opacity-90" src="https://images.unsplash.com/photo-1648737963503-1a26da876aca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=900&h=900&q=80" alt="Image Description"     data-aos="fade-up"
        data-aos-offset="200"
        data-aos-delay="50"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        data-aos-mirror="true"
        data-aos-once="false"
        data-aos-anchor-placement="top-center" />
      </div>
      <!-- End Col -->
  
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Features -->


        <!-- Subscribe -->
        <div class="max-w-6xl py-10 px-4 sm:px-6 lg:px-8 lg:py-16 mx-auto">
            <div class="max-w-xl text-center mx-auto">
            <div class="mb-5">
                <h2 class="text-2xl font-bold md:text-3xl md:leading-tight dark:text-white">Sign up to our newsletter</h2>
            </div>
        
            <form>
                <div class="mt-5 lg:mt-8 flex flex-col items-center gap-2 sm:flex-row sm:gap-3">
                <div class="w-full flex flex-col items-center gap-2 sm:flex-row sm:gap-3 bg-gray-200 dark:bg-gray-900 rounded-lg p-2">
                    <label for="hero-input" class="sr-only">Search</label>
                    <Input type="email" id="email" name="email" placeholder='Enter Email' required />
                    <a class="w-full sm:w-auto whitespace-nowrap py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">
                        Subscribe
                    </a>
                </div>
                </div>
            </form>
                <div class="text-gray-500  mb-1 mt-5">
                    We are inspired by <a href="https://www.indeed.com/" target="_blank" class="text-sky-600">Indeed.com</a>
                </div>
            </div>
        </div>
        <!-- End Subscribe -->
    </div>
</Layout>