---
const { SearchResult, query, location } = Astro.props

interface Props {
    SearchResult: {}[],
    query: string,
    location: string
}
---

<div class={`bg-red-50 border-2 border-red-300 text-red-800 rounded-lg shadow-lg p-4 dark:bg-rose-300 dark:border-rose-700 ${SearchResult.length > 0 ? 'hidden' : ''}`} role="alert">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg class="flex-shrink-0 h-4 w-4 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
      </div>
      <div class="ms-3">
        <h3 class="font-semibold -mt-">
          Search Results
        </h3>
        <p class="mt-2 text-sm  dark:text-gray-400">
            <h6 class="">The search <strong>{query}</strong> Jobs in <strong>{location}</strong> did not match any jobs.</h6>
            <div class="mt-3">
                <h1 class="font-bold ">Search suggestions:</h1>
                <div class="mt-2 flex flex-col">
                    <div class="inline-flex items-center ms-3">
                        <span class="w-2 h-2 inline-block bg-red-500 rounded-full me-2"></span>
                        <span>Try more general keywords</span>
                    </div>
                    <div class="inline-flex items-center ms-3">
                        <span class="w-2 h-2 inline-block bg-red-500 rounded-full me-2"></span>
                        <spa>Check your spelling</spa>
                    </div>
                    <div class="inline-flex items-center ms-3">
                        <span class="w-2 h-2 inline-block bg-red-500 rounded-full me-2"></span>
                        <span>Replace abbreviations with the entire word</span>
                    </div>
                </div>
            </div>
        </p>
      </div>
    </div>
</div>