---
import Button from "@components/ui/Button.astro";
import CancelModalButton from "@components/profile/modals/CancelModalButton.astro"

const { id } = Astro.params;
---

<div id="addRemoteModal" class="hs-overlay hidden w-full h-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none">
  <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all lg:max-w-4xl lg:w-full m-3 lg:mx-auto items-center"
  >
    <div class="flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] "
    >
      <div class="flex justify-between items-center py-3 px-4 border-b dark:border-gray-700"
      >
        <h3 class="font-bold text-gray-800 dark:text-white">
          Add Remote
        </h3>
        <button type="button" class="flex justify-center items-center w-7 h-7 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-gray-700 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" data-hs-overlay="#addRemoteModal">
          <span class="sr-only">Close</span>
          <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
      </div> 
      <div class="p-4 overflow-y-auto">
        <span class="block text-lg mb-2 dark:text-white font-bold">Desired work setting</span>
      </div>

      <div class="p-4 overflow-y-auto">
        <form action=`/api/accounts/preferences/remote/${id}` method="post">            
          <div class="flex">
            <input type="checkbox" id="remote" name="remote" class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 p-2 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800 cursor-pointer" id="relocate">
            <label for="remote" class="text-sm text-gray-500 ms-3 dark:text-gray-400">Remote</label>
          </div>
          <div class="flex mt-5">
            <input type="checkbox" id="hybrid" name="hybrid" class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 p-2 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800 cursor-pointer" id="relocate">
            <label for="hybrid" class="text-sm text-gray-500 ms-3 dark:text-gray-400">Hybrid work</label>
          </div>
          <div class="flex mt-5">
            <input type="checkbox" id="inPerson" name="inPerson" class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 p-2 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800 cursor-pointer" id="relocate">
            <label for="inPerson" class="text-sm text-gray-500 ms-3 dark:text-gray-400">In-person</label>
          </div>
          <div class="flex mt-5">
            <input type="checkbox" id="tempRemote" name="tempRemote" class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 p-2 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800 cursor-pointer" id="relocate">
            <label for="tempRemote" class="text-sm text-gray-500 ms-3 dark:text-gray-400">Temporarily remote</label>
          </div>
          <div class="flex justify-end items-center gap-x-2 py-3 px-4 dark:border-gray-700">
            <CancelModalButton modal="#addRemoteModal"/>
            <Button type="submit">Save</Button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>