---
 const { type} = Astro.props

 interface Props {
    type?: any;
 }
---

<button type={type} class="w-full sm:w-auto whitespace-nowrap p-3 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-non" >
    <slot />
</button>