---
    interface Props {
        href: string;
    }

    const { href } = Astro.props
---

<a class="transition-all ease-in-out duration-300 font-medium hover:text-gray-400 md:py-6 nav-link" href={href}>
    <slot />
</a>