---
  interface Props {
    href: string;
    text: string;
  }

  const { href, text} = Astro.props
---

<a class="transition-all ease-in-out duration-300 font-bold capitalize hover:text-blue-800 md:py-6 nav-link dark:text-white" href={href}>
  {text}
</a>
<!-- 
<style>
    .nav-link {
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.8s ease, transform 0.8s ease;
    transform: translateY(0%);
    transform-origin: 0 100%;
    
  }
    .nav-link::after{
    content: "";
    position: absolute;
    background-color: #0d6efd;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 10px;
    transition: 0.3s;
    transform: scale(0);
    transform-origin: right;
    transition: all 0.3s ease-in-out;
  }
  .nav-link:hover::after{
    width: 100%;
    transform: scale(1);
    transform-origin: left;
  }
  </style> -->