---
const { text } = Astro.props
---

<div class='flex space-x-2 justify-center z-10 items-center bg-gray-100 dark:dark:bg-[#1E293B] bg-blend-darken h-screen dark:invert dark:bg-gray-900'>
  <span class='sr-only'>{ text ? text : "Loading..." }</span>
  <div class='h-3 w-3 bg-blue-400 rounded-full animate-bounce [animation-delay:-0.3s]'></div>
  <div class='h-3 w-3 bg-blue-400 rounded-full animate-bounce [animation-delay:-0.15s]'></div>
  <div class='h-3 w-3 bg-blue-400 rounded-full animate-bounce'></div>
</div>